<p>
	<strong>Life </strong>is one fool thing after another. <br>Where as <strong> love </strong> is two fool things after each.<br><em> Oscar Wilde</em>
</p>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>

<div id="users-layout">
	<div class="box">
		<% @users.each do |u| %>
		<div id="user">
			<%= link_to u.name, u %> <br>
			<%= image_tag u.photos[u[:main_pic_id]].photo if !(u.photos.empty?) %>
		</div>
		<% end %>
	</div>
</div>