<p>
	When one is in <strong>love</strong> one always begins by deceiving one's self, and one always ends by deceiving others. That is what the world calls a <strong>romance</strong>. 
	<em>~Oscar Wild</em>
</p>

<ul class="nav nav-list">
	...
	<li class="divider"></li>
	...
</ul>

<% @users.each do |u| %>
<%= link_to u.name, u %> <br>
<% end %>