<p>Someone you haven't even met is wondering what it'd be like to know someone like <strong>you</strong>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>

<div id="signup">
	<div class="box">
		<strong><%= link_to "Signup For Free!", new_user_path %></strong>
	</div>
</div>

<div id="images">
	<div id="one" class="images"></div>
	<div id="two" class="images"></div>
	<div id="three" class="images"></div>
	<div id="four" class="images"></div>
	<div id="five" class="images"></div>
	<div id="six" class="images"></div>
	<div id="seven" class="images"></div>
	<div id="eight" class="images"></div>
<!-- 	<div id="nine" class="images"></div>
	<div id="ten" class="images"></div>
	<div id="eleven" class="images"></div> -->
</div>

<div id="how-it-works">
	<div id = "container">
		<div id="blurb1">
		</div>
		<div id="blurb2">
		</div>
		<div id="blurb3">
		</div>
	</div>
</div>


