<p>Someone you haven't even met yet is wondering what it'd be like to know someone like <strong>you</strong>.

<ul class="nav nav-list">
...
<li class="divider"></li>
...
</ul>

<div id="signup">
	<div class="box">
		<strong><%= link_to "Signup", new_user_path %></strong>
	</div>
</div>

<div id="how-it-works">
	<div id = "container">
		<div id="blurb1">
		</div>
		<div id="blurb2">
		
		</div>
		<div id="blurb3">
		
		</div>
	</div>
</div>
