<p>Someone you haven't even met is wondering what it'd be like to know someone like <strong>you</strong>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>

<div id="signup">
	<div class="box">
		<strong><%= link_to "Signup For Free!", new_user_path %></strong>
	</div>
</div>

<div id="images">
	<img src="hipster1.jpeg" alt="Baby Hipster">
	<img src="hipster2.jpeg" alt="Baby Hipster">
	<img src="hipster3.jpeg" alt="Baby Hipster">
	<img src="hipster4.jpeg" alt="Baby Hipster">
	<img src="hipster5.jpeg" alt="Baby Hipster">
	<img src="hipster6.jpeg" alt="Baby Hipster">
	<img src="hipster7.jpeg" alt="Baby Hipster">
	<img src="hipster8.jpeg" alt="Baby Hipster">
	<img src="hipster9.jpeg" alt="Baby Hipster">
	<img src="hipster10.jpeg" alt="Baby Hipster">
	<img src="hipster11.jpeg" alt="Baby Hipster">
</div>

<div id="how-it-works">
	<div id = "container">
		<div id="blurb1">
		</div>
		<div id="blurb2">
		
		</div>
		<div id="blurb3">
		
		</div>
	</div>
</div>
