@import "colors";
@import "blurb";
@import "fonts";

#user-login {
		width: 940px;
		padding-top: 35px;
		background: url('form.png');

		margin: 75px auto;
		border-radius: 10px;
		height: 410px;
	
		.box{
			width: 240px;
			height: 340px;
			float: left;
			margin-left: 45px;
			/*background-color: #333;*/
			opacity: 0.8;
		}

		.box3{
			width: 270px;
			height: 340px;
			float: left;
			margin-left: 45px;
			border: 1px solid white;
			
		}

		label {
			color: white;
			font-size:15px;
			margin-bottom: -17px;
		}

		input {
			margin-bottom: 15px;
		}

		.btn {
			margin-top: 20px;
			margin-left: 110px;;
		}

		.field {
			font-family: $julius;
		}


		a {
		text-decoration: none;
		color: white;
		font-size: 25px;
		}
}

#first_login {

		width: 940px;
		height: 230px;
		padding-top: 26px;
		background: url('form.png');
		margin: auto;
		border-radius: 10px;
		/*padding-left: 135px;*/
		margin-top: 75px;


		label {
			color: white;
			font-size:15px;
			margin-bottom: -17px;
		}

		.box_login{
			margin-left: 250px;
			opacity: 0.8;
		}


		input {
			margin-bottom: 25px;
		}

		.btn {
			margin-top: 0px;
			margin-left: 0px;;
		}

		.field {
			font-family: $julius;
		}


		a {
		text-decoration: none;
		color: white;
		font-size: 25px;
		}
		p{
			color: white;
		}
}