@import "colors";
@import "fonts";

body {
	background: url('cream_dust.png');
	font-family: $julius;


	.main {
	width: 1200px;
	margin: auto;
	padding: 30px;
	}
}

header {
	height: 130px;
	background: $light-blue;

	#logo {
	height: 100px;
	margin-left: 20px;
	width: 200px;
	}

	nav {
		float: right;
		margin-top: -7px;
  		margin-left: 0;
  		list-style: none;
  		margin-right: 20px;

		a {
			text-decoration: none;
			color: $dark-gray;
			padding: 20px;
			font-family: $julius;
			color: black;
		}

		a:hover {
  			text-decoration: none;
  			background-color: $dark-blue;
  			margin-top: -20px;
  			border-radius: 5px;
  			padding: -20px;
  			color: white;
		}
	}
}

footer {
		height: 70px;
		background: $light-blue;
}

	


