@import "colors";
@import "fonts";

body {
	background: url('cream_dust.png');
	font-family: $julius;


	.main {
	width: 1200px;
	height: 800px;
	margin: auto;
	padding: 30px;
	}
}

header {
	height: 95px;
	background: $light-blue;


	#logo {
	height: 65px;
	margin-left: 115px;
	width: 150px;
	}

	nav {
		float: right;
		margin-top: -7px;
  		margin-left: 0;
  		list-style: none;
  		margin-right: 115px;

		a {
			text-decoration: none;
			color: $dark-gray;
			padding: 20px;
			font-family: $julius;
			color: black;
		}

		a:hover {
  			text-decoration: none;
  			background-color: $dark-blue;
  			margin-top: -20px;
  			border-radius: 5px;
  			padding: -20px;
  			color: white;
		}
	}
}

footer {
		height: 90px;
		background: $light-blue;

		.heart:hover {
			color: $dark-salmon;
		}

		#copyrights {
			margin-left: 115px;
			padding-top: 20px;
		}

			/*SOCIAL MEDIA STYLES*/
	.sprite {
	     background: url('../images/bg_blurb.jpg');
	     margin-top: -10px;
	  
	     float: left;
	     width: 100%;
	     margin: auto;
	     text-align: center;
	}

	#social-media {
		float: right;
		margin-right: 115px;
	}

	#social-media li {
	     display: inline-block;
	}

	#social-media ul li a {
	     width: 35px;
	     height: 27px;
	     float: left;
	     background: url('social-sprites-02.png') no-repeat;
	/*     /*SCOTT KELLUM IMAGE REPLACEMENT SNIPPET*/
	     text-indent: 100%;
	     white-space: nowrap;
	     overflow: hidden;
	}

	     #social-media ul li a.facebook {
	          background-position: 6px -3px;
	     }

	     #social-media ul li a.twitter {
	          background-position: -30px -2px;
	     }

	     #social-media ul li a.facebook:hover {
	          background-position: 6px -27px;
	     }

	     #social-media ul li a.twitter:hover {
	          background-position: -30px -25px;
	     }
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}



	


