@import "colors";
@import "blurb";
@import "fonts";

#container_logged_in{
	width: 940px;
	height: 320px;
	background: url('form.png');
	margin: 75px auto;
	border-radius: 5px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;

	.question{
		width: 400px;
		height: 250px;
		float: left;
		padding: 20px;

		form {
		margin: 75px 65px 35px;
		}
	}

	.answer{
		width: 400px;
		height: 250px;
		float: left;
		padding: 20px;	

		form {
		margin: 20px 65px 35px;
		}
	}

	.content{
		width: 400px;
		height: 250px;
		padding: 20px;
		float: right;
		/*border: 1px solid white;*/

		div {	
			background: url('question.jpeg');
			background-size: 100%;
			width:500px;
			height: 300px;
			border-radius: 5px;
			margin-left: -115px;
			margin-top: -25px;
		}

		#answers {
			background: url('answers.jpeg');
			background-size: 100%;
			width:500px;
			height: 300px;
			border-radius: 5px;
			margin-left: -115px;
			margin-top: -25px;
		}
	}
}

#match_question {
	width: 750px;
	padding-top: 25px;
	background: url('form.png');
	margin: auto;
	border-radius: 10px;

	.box {
	width: 750px;
	margin: auto;
	padding: 20px;
	color: white;
	padding: 30px;
	}

	h2 {
		margin-left: 50px;
		margin-right: 20px;
	}

	form {
		padding-left: 20px;
		margin: 20px;

	}

	input {
		display: inline-block;
		margin-left: 20px;
		text-align: center;
	}
}
