@import "colors";
@import "blurb";
@import "fonts";


.profile_container{

	width: 600px;

		.profile{
			width: 300px;
			margin-left: 100px;
		}
		.profile_photo{
			float: left;
			width: 400px;
			height: 400px;
		}

}