@import "colors";
@import "blurb";
@import "fonts";

.profile_container{
	height: 350px;
	padding-top: 30px;



	.profile_1{
			width: 350px;
			height: 320px;
			margin-left: 250px;
			color: white;
			background: url('form.png');
			float: left;
			border-radius: 5px;

			.profile_info{
				margin-left: 0px;
				margin-top: 30px;
				text-align: center;

				h1{
					margin-bottom: 30px;
				}

			}
		}
	.photo_upload{
			float: left;
			width: 350px;
			height: 320px;
			background: url('form.png');
			color: white;
			margin-left: 5px;
			border-radius: 5px;

			.f2{
				width: 200px;
				height: 200px;
				margin-left: 75px;
				margin-top: 30px;
				margin-bottom: 20px
			}
			.f3{
				text-align: center;
				margin-top: 40px;
				margin-bottom: 20px;
				font-size: 25px;
			}
			.btn_upload
			{

			}
		}
}

.send_message{
		padding-left: 250px;
		padding-bottom: 28px;
	}

.pictures{
		width:1040px;
		padding-top: 20px;
		padding-left: 80px;
		padding-right: 80px;
		padding-bottom: 20px;
		color: white;
		border-radius: 5px;
		background: url('form.png');

		h2{
			text-align: center;
		}
		.photo_form{
				margin-top: 20px;
				width: 250px;
			}
	}
