@import "colors";
@import "blurb";
@import "fonts";

#first-login {
	width: 350px;
	padding-top: 35px;
	background: url('form.png');
	margin: auto;
	border-radius: 10px;

	.box {
	width: 450px;
	margin-left: 50px;
	padding: 20px;
	color: white;
	}
}

p {
	font-size: 40px;
	text-align: center;
	padding: 30px;	

	strong {
	color: $dark-salmon;
	}

	em {
		font-size: 20px;
	}
}

.profile {
	width: 970px;
	padding-top: 35px;
	background: url('form.png');
	margin: auto;
	border-radius: 10px;
	padding: 20px;

	.subcontent {
		color: white;
	}

	.btn {
		float: right;
	}



	.box {
	width: 450px;
	margin-left: 50px;
	padding: 20px;
	color: white;
	}
}



/**
USERS **/

#users-layout {
	width: 940px;
	padding-top: 15px;
	background: url('form.png');

	margin: 30px auto;
	border-radius: 5px;
	height: 410px;

	.box{
		height: 340px;
		float: left;
		margin-left: 45px;
		/*background-color: #333;*/
		opacity: 0.8;
	}

	#user {
	width: 100px;
	height: 100px;
	background: $light-gray;
	padding: 5px;
	margin: 10px;
	float: left;
	border-radius: 2px;
	border:6px solid $light-gray;
	}

	#user:hover {
		background: $dark-salmon;
	}

	a {

	}
}



/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

