@import "colors";
@import "blurb";
@import "fonts";

p {
	font-size: 40px;
	text-align: center;
	padding: 30px;
	line-height: 1;
	margin-bottom: -10px;

	strong {
	color: $dark-salmon;
	}

	em {
		font-size: 25px;
	}
}



#signup {
	width: 350px;
	height: 100px;
	background: url('form.png');
	margin: 70px auto;
	border-radius: 5px;

	.box {
		width: 350px;
		text-align: center;
		padding-top: 40px;

		a {
		text-decoration: none;
		color: white;
		font-size: 30px;
		font-family: $julius;
		}

	a:hover {
		color: $dark-salmon;
		}
	}	
}

#how-it-works {

	h1 {
	text-align: center;
	font-size: 30px;
	font-family: $julius;
	padding-top: 15px;
	}

	#container{
	width: 960px;
	height: 180px;
	margin: auto;
	padding: 20px;

		#blurb1 {
			@include blurb(url('instructions-01.png') no-repeat);
		}

		#blurb2 {
			@include blurb(url('instructions-02.png') no-repeat);
		}

		#blurb3 {
			@include blurb(url('instructions-03.png') no-repeat);
		}


		p {
			font-size: 30px;
		}

		span {
			font-size: 130px;
			
		}
	}	
}
