@import "colors";
@import "blurb";
@import "fonts";

p {
	font-size: 40px;
	text-align: center;
	padding: 30px;
	line-height: 1;
	margin-bottom: -10px;

	strong {
	color: $dark-salmon;
	}

	em {
		font-size: 25px;
	}
}



#signup {
	width: 350px;
	height: 100px;
	background: url('form.png');
	margin: 40px auto;
	border-radius: 5px;

	.box {
		width: 350px;
		text-align: center;
		padding-top: 40px;

		a {
		text-decoration: none;
		color: white;
		font-size: 30px;
		font-family: $julius;
		}

	a:hover {
		color: $dark-salmon;
		}
	}	
}

#images {
	margin-top: 20px;
	

	.images {
		width: 150px;
		height: 150px;
		float: left;
		margin-bottom: 40px;
	}

	#one {
		background: url('hipster1.jpeg');
		background-size: 100%;
	}

	#two {
		background: url('hipster2.jpeg');
		background-size: 100%;
	}

	#three {
		background: url('hipster3.jpeg');
		background-size: 100%;
	}

	#four {
		background: url('hipster4.jpeg');
		background-size: 100%;
	}

	#five {
		background: url('hipster5.jpeg');
		background-size: 100%;
	}

	#six {
		background: url('hipster10.jpeg');
		background-size: 100%;
	}

	#seven {
		background: url('hipster7.jpeg');
		background-size: 100%;
	}

	#eight {
		background: url('hipster8.png');
		background-size: 100%;
	}

	#nine {
		background: url('hipster9.jpeg');
	}

	#ten {
		background: url('hipster10.jpeg');
	}

	#eleven {
		background: url('hipster11.jpeg');
	}

}

#how-it-works {

	h1 {
	text-align: center;
	font-size: 30px;
	font-family: $julius;
	padding-top: 15px;
	}

	#container{
	width: 960px;
	height: 180px;
	margin: auto;
	padding: 20px;

		#blurb1 {
			@include blurb(url('form.png') no-repeat);
		}

		#blurb2 {
			@include blurb(url('form.png') no-repeat);
		}

		#blurb3 {
			@include blurb(url('form.png') no-repeat);
		}


		p {
			font-size: 30px;
		}

		span {
			font-size: 130px;
			
		}
	}	
}
